@CHARSET "ISO-8859-1";
body,html{
 	height:100%;
	font-size: 14px;
	font-family:  arial,sans-serif;
	/* levenim MT, sans-serif;*/
	top:0;
	margin:0;
	bottom:0;
	overflow-x:hidden;
}
#wrapper{
  	border: 0 none;
    font-size: 100%;
    width: 1000px;
    margin: auto;
    padding: 0;
    min-height:100%;
}
.header{
	height: 150px;
	border-bottom: 1px solid lightgray;
	overflow: hidden;
}
.logo{
	float:left;
	cursor:pointer;
}
.reg_menu{
	float:right;
}

.reg_menu UL LI{
	cursor: pointer;
	float: left;
	letter-spacing: 0.7px;
	font-size: 15px;
	margin-left: 15px;
	margin-top: 65px;
	padding: 15px;
}
.reg_menu li:hover, .menu_active{
	text-decoration:underline;
	background: lightgray !important;
	color:#fff;
}
.signIn{
	float: right;
	cursor: pointer;
	margin-top: 10px;
	margin-right:10%;
}
.signIn:hover{
	text-decoration:underline;
}

.content{
	min-height:500px;
	padding: 15px;
	margin-top: 1px;
	font-size: 16px;
	text-align: justify;
	color: #595959;
}
.menuPos{
	height: 125px;
	color: white;
}

#ait_resp_menu{	
	display:none;
	cursor:pointer;
	background: #010194;
	width:120px;
}

UL{
	list-style-type:none;
	margin:0;
}
#footer{
	color:#C5C5C5;
    background:gray;
	padding-top: 10px;
	padding-bottom: 15px;
}
#footer .title{
	font-size:16px;
	font-weight:bold;
	padding-bottom: 5px;
}
#footer .section{
	float:left;
	font-size:12px;	
	padding-top:10px;
	width:30%;
	min-width:200px;
	margin-bottom: 20px;
}
#footer .section .socImg{
	border-radius: 4px;
	width: 20px;
	margin-bottom: -5px;
	cursor:pointer;
}
#footer .section a{
	color:#fff;
	text-decoration:none;
}
#footer li{
	margin-left:-30px;
	padding-bottom: 5px;
}
#footer li:hover,#footer .section a:hover, .link:hover{
	text-decoration:underline;	
	cursor: pointer;
}
#footer .contact{
	padding-bottom: 5px;
	padding-left: 10px;
}

/* Page Styles */
#leftSideMain .section{
	border: 1px solid #8AABB0;
	margin: 10px 0;
	padding: 15px;
	background: none repeat scroll 0 0 #fff;
}
#leftSideMain .title{
	font-size:18px;
	font-weight: bold;
	margin-bottom: 10px;
	letter-spacing: 1px;
	text-align:center;	
}
#leftSideMain .section UL{
	margin-left: -40px;
}
#leftSideMain .section LI{
	margin-top:5px;	
}
/* Get in touch */

.contact_us .field{
	padding-top: 15px;
    width: 100%;
}
.contact_us .field div{
	float: left;
    width: 50px;	
    padding: 5px;
}
.contact_us .field input{
	padding: 5px;
    width: 230px;
}
.contact_us .textField{
	padding-top:15px;
}
.contact_us .textField div{
	margin-bottom:5px;	
}
.contact_us form{
	padding-left:10%;
	width: 405px;
	margin: auto;
}
.contact_us{
	background: none repeat scroll 0 0 lightgray;
    float:right;
    margin-top:100px;
    letter-spacing: 1px;
    padding: 10px;
}
.imgHolder{
    color: #fff;
    float: left;
	margin: 3px;
	padding-top: 18px;
	padding-left: 4px;
	padding-right: 4px;
    width: 180px;
	background: gray;
}
.album_imgHolder{
    color: #000;
    float: left;
    margin: 15px;
    padding-bottom: 20px;
    padding-left:16px;
    padding-right:16px;
    text-align:center;
    width: 180px;
	background: gainsboro;
}
.imgHolder:hover, .album_imgHolder:hover{
	opacity:0.8;
	cursor:pointer;
	text-decoration:underline;
}
.album_imgTitle{
	font-size: 17px;
    font-style: italic;
    min-height: 22px;
    padding:5px
}
.imgTitle{
	font-size: 15px;
    font-style: italic;
    min-height: 22px;
    text-align: center
}
#backBtn{
	float: left;
	cursor: pointer;
	font-size: 16px;
	padding-left: 40px;
	padding-bottom: 10px;
	padding-top: 8px;
	background: url('../img/metro_back.png') no-repeat;
}
#backBtn:hover{
	text-decoration:underline;	
}
#albumTitle{
	float: left;
	font-size: 25px;
	color: grey;
	padding-left: 20px;
}
#albumSelectList{
	 border: 1px solid grey;
    border-radius: 3px;
     margin-left: 11px;
    min-width: 145px;
    padding: 3px;
}
.imageBase{
	background:#F0F0F0  url('../img/loading.gif') no-repeat;
	background-size:30px 30px;
	background-position:center;
	height:100%;
}
.preLoadImage{
  display:none;
}