@CHARSET "ISO-8859-1";
body,html{
 	height:100%;
	font-size: 14px;
	font-family:  arial,sans-serif;
	/* levenim MT, sans-serif;*/
	top:0;
	margin:0;
	bottom:0;
	letter-spacing: 0.1em;
}
/* template styles */
.center{
 	margin: auto; 
 	text-align: center; 
 }
.widthWrap, .headWidth{
	margin-left:15%;
}
.widthWrapRight{
	margin-right:15%;
}
.headCont{
	background:#9370DB;
	padding: 5px;
}
.content{
	overflow:hidden;
	margin-top:20px;
}
.leftSide{
	float:left;
	width:10%;
}
.menu{
	background:#9370DB;
	width:200px;
}
.leftSide ul{
	list-style-type:none;	
	margin: 0 0 0 -40px;
}
.leftSide li{
	color:#FFF;
	width:100%;
	padding:10px;
	cursor:pointer;
}
.leftSide li:hover{
	background: #FFF;
	color:#000;
}
.rightSide{
	float:right;
	padding: 15px;
    width: 77%;
	border:1px solid #9370DB;
}
.rightSide .title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 11px;
}
.error{
	color:red;
	font-size:10px;

}
.floatLeft{
	float:left;
}
/* Menu section styles */
.menu_leftSide{
	width:70%;
}
.menu_rightSide{
	}
.menu_boxBtn, .selects{
    border: 1px solid grey;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 7px;
}
.menu_boxBtn:hover{
	text-decoration:underline;
	cursor:pointer;
	background: #9370db;
	color:#FFF;
}
hr {
	border-color: #9370db;
}
#pictureList{
	min-height: 300px;
}
#menu_addItemDialog,#create_articleDialog{
	position:absolute;
	z-index: 9003;
	top: 33%;
	left: 35%;
	width:500px;
	height:200px;
	background:#FFF;
	display:none;
	border: 10px solid grey;
	border-radius: 5px;
}
#menu_menuNameTb, #articleTitle, #imageTitle{
	border:1px solid grey;
	border-radius: 5px;
 	margin-bottom: 32px;
    margin-top: 12px;
    padding: 9px;
    width: 200px;
}
#sortable li{
	border:1px solid grey;
	width: 250px;
	cursor:move;
}
#sortable li input{
	float:left;
	}
/* end */
.errMsgGreen{
	color:green;
	font-size: 15px;
    margin-left: 37%;
    margin-top: 18px;
    width: 250px;
}
#footer{
	color:#C5C5C5;
    background:#1a1a1a;
	padding-top: 10px;
	padding-bottom: 15px;
}
#footer .title{
	font-size:16px;
	font-weight:bold;
	padding-bottom: 5px;
}
#footer .section{
	float:left;
	font-size:12px;	
	padding-top:10px;
	width:30%;
	min-width:200px;
	margin-bottom: 20px;
}
#footer .section .socImg{
	border-radius: 4px;
	width: 20px;
	margin-bottom: -5px;
	cursor:pointer;
}
#footer .section a{
	color:#fff;
	text-decoration:none;
}
#footer li{
	margin-left:-30px;
	padding-bottom: 5px;
}
#footer li:hover,#footer .section a:hover, .link:hover{
	text-decoration:underline;	
	cursor: pointer;
}
#footer .contact{
	padding-bottom: 5px;
	padding-left: 10px;
}
#wrapper{
  border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    min-height:98%;
}
/*Articles*/
.articlesRec{
	overflow:hidden;
	border:1px solid #9370DB;
}
.articlesBox{
    border-left: 1px solid #9370db;
    float: left;
    font-size: 15px;
    padding: 12px;
    text-align: center;
    min-height: 49px;
}
.articlesId{
	width:5%;
}
.articleActionBtn{
	float:right;
}
.assignedlist{
	padding: 3px 20px 3px 20px;
}
#update_articleDialog,#menu_contentDialog, #create_eventDialog, #update_eventDialog, #insertImageBox{
	z-index: 9003;
	background:#FFF;
	display:none;
	border: 10px solid grey;
	border-radius: 5px;
	padding: 15px;
    position: absolute;
    min-height:300px;
    right: 15%;
    left: 15%;
    top: 10%;
}
.currentContentBox{
	float:right;
	padding:10px;
}
.closeBtn{
	float:right; 
	margin-top:-20px;
}
.closeBtn:hover{
	text-decoration:underline;
	cursor:pointer;
}
#createEventTitle, #update_eventTitle{
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    width: 350px;
}
.createEventDetailHolder{
	overflow:hidden;
	padding-top:15px;	
}
.createEventDetailHolder input, .createEventDetailHolder select{
	border: 1px solid gray;
    border-radius: 5px;
    font-size: 13px;
    padding: 6px;
    width: 200px;
}
.createEventInputHolder{
	float:right;
}
#create_eventDialog {
	font-size:16px;
}
#create_eventDialog form{
	width: 370px;
	margin:auto;
}
.newErrMsg{
	color:green;
	font-size:15px;
	text-align:center;
	padding:5px;
	height:20px;
}
.prev_thumb{
	height: 250px;
}
.uploadGaleryImage{
	float:left;
}
progress{
	height: 25px;
    margin-bottom: -5px;
    width: 200px;
}