@media (max-width: 1450px) {
	.widthWrap{
		margin-left:10%;
	}
	.widthWrapRight{
		margin-right:10%;
	}
}
@media (max-width: 1300px) {
	.widthWrap{
		margin-left:7%;
	}
	.widthWrapRight{
		margin-right:7%;
	}
}
@media (max-width: 1200px) {

	.widthWrap{
		margin-left:5%;
	}
	.widthWrapRight{
		margin-right:5%;
	}
}
@media (max-width: 1200px) {

	.widthWrap{
		margin-left:0;
	}
	.widthWrapRight{
		margin-right:0;
	}
}